body{
    font-family: 'Creepster', cursive;
    background-color:turquoise;
}
.header_div{
background-color: white;
color:red
}
.header_div p{
    font-weight: bold;
    letter-spacing: 2px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.main_div button{
    font-weight: bolder;
    letter-spacing:3px; ;
    margin-top:30px;
    font-family: 'Roboto', sans-serif;
    width:80px;
}
